# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IDE
.idea/
.vscode/
.vs/
*.iml
*.ipr
*.iws
*.user
*.suo

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.metadata

# Build
/build/
/android/app/debug
/android/app/profile
/android/app/release

# Android
android/local.properties

# iOS
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral/
/ios/Flutter/flutter_assets/
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*

# Coverage
coverage/

# Generated
lib/generated_plugin_registrant.dart